*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: sans-serif;
    /* display: flex; */
}
li a{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    margin: 1%;}

    .social{
        text-decoration: none;
        display: flex;
      
    }
    .icons{
        text-decoration: none;
        /* display: inline-block; */
        height: 31px;
        /* padding-left: 5px; */
        
    }
   .icons ul {
        list-style-type: none;
        margin-right: 2px;

      }
      .icons ul li{
        padding-left: 5px;
      }